body {
    margin: 0;
    /* background: linear-gradient(0deg, rgba(206,246,251,1) 0%, rgba(107,150,153,1) 82%); */
    background: rgb(206,246,251);
    background: linear-gradient(90deg, rgba(206,246,251,1) 0%, rgba(107,150,153,1) 82%);
}
.footer{
    margin-top: 30px;
    border: 2px solid black;
}
.nav-item:hover{
    background-color: rgb(174, 169, 169);
    color: white;
    transition: 1s;
}
li{
    border-radius: 20px;
}
a { color: inherit; } ;